language: node_js
sudo: false
node_js:
    - 7
services: mongodb

cache:
    yarn: true
    directories:
        - node_modules

script:
    # Try to build and start
    - yarn run build
    - yarn run test
deploy:
    - provider: script
      skip_cleanup: true
      script: "./deploy.sh"
      on:
          all_branches: true
