<!DOCTYPE html>
<html>
    <head>
        <title>Flux API</title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Monitoring test content
repo=<%= process.env.TRAVIS_REPO_SLUG  %>
branch=<%= process.env.TRAVIS_BRANCH  %>
commit=<%= process.env.TRAVIS_COMMIT  %>
-->

    </head>

    <body>
        <%- body %>
    </body>
</html>
